openapi: 3.1.0
info:
  title: Guru Analytics Tags API
  version: 1.0.0
  description: 'REST API for accessing and managing Guru data programmatically. Supports

    cards, collections, folders, announcements, search, people, groups, tags,

    templates, comments, verifiers, and answers. Authentication is via OAuth 2.0

    (recommended) or API tokens.

    '
  contact:
    name: Guru Developer Network
    url: https://developer.getguru.com
servers:
- url: https://api.getguru.com/api/v1
  description: Guru production API
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Tags
paths:
  /teams/tags/create:
    post:
      summary: Create tag
      operationId: createTag
      tags:
      - Tags
      responses:
        '201':
          description: Tag created.
  /teams/tags/{id}:
    get:
      summary: Get tag
      operationId: getTag
      tags:
      - Tags
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tag details.
  /teams/tags/update:
    put:
      summary: Update tag
      operationId: updateTag
      tags:
      - Tags
      responses:
        '200':
          description: Tag updated.
  /teams/tag-categories/create:
    post:
      summary: Create tag category
      operationId: createTagCategory
      tags:
      - Tags
      responses:
        '201':
          description: Tag category created.
  /teams/tag-categories:
    get:
      summary: List tag categories
      operationId: listTagCategories
      tags:
      - Tags
      responses:
        '200':
          description: List of tag categories.
  /teams/tag-categories/{id}:
    get:
      summary: Get tag category
      operationId: getTagCategory
      tags:
      - Tags
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tag category details.
  /teams/tag-categories/update:
    put:
      summary: Update tag category
      operationId: updateTagCategory
      tags:
      - Tags
      responses:
        '200':
          description: Tag category updated.
  /teams/tag-categories/delete:
    delete:
      summary: Delete tag category
      operationId: deleteTagCategory
      tags:
      - Tags
      responses:
        '204':
          description: Tag category deleted.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: API token authentication via HTTP Basic.
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token.
