openapi: 3.1.0
info:
  title: Guru Analytics TicketLinking API
  version: 1.0.0
  description: 'REST API for accessing and managing Guru data programmatically. Supports

    cards, collections, folders, announcements, search, people, groups, tags,

    templates, comments, verifiers, and answers. Authentication is via OAuth 2.0

    (recommended) or API tokens.

    '
  contact:
    name: Guru Developer Network
    url: https://developer.getguru.com
servers:
- url: https://api.getguru.com/api/v1
  description: Guru production API
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: TicketLinking
paths:
  /kcs/create:
    post:
      summary: Create ticket link
      operationId: createTicketLink
      tags:
      - TicketLinking
      responses:
        '201':
          description: Ticket link created.
  /kcs:
    get:
      summary: List ticket links
      operationId: listTicketLinks
      tags:
      - TicketLinking
      responses:
        '200':
          description: List of ticket links.
    delete:
      summary: Delete ticket link
      operationId: deleteTicketLink
      tags:
      - TicketLinking
      responses:
        '204':
          description: Ticket link deleted.
  /kcs/apps:
    get:
      summary: Get enabled ticket linking platforms
      operationId: listTicketApps
      tags:
      - TicketLinking
      responses:
        '200':
          description: List of enabled platforms.
  /kcs/add-app:
    put:
      summary: Enable ticket linking platform
      operationId: addTicketApp
      tags:
      - TicketLinking
      responses:
        '200':
          description: Platform enabled.
  /kcs/delete-app:
    delete:
      summary: Disable ticket linking platform
      operationId: deleteTicketApp
      tags:
      - TicketLinking
      responses:
        '204':
          description: Platform disabled.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: API token authentication via HTTP Basic.
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token.
